In [2]:
#Import relevant libraries
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
#from sklearn import metrics
# plt.style.use('ggplot')
# pd.set_option('display.max_columns', 200)
from scipy import stats
import os

In [6]:
df = pd.read_csv("../data/benin-malanville.csv")

df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [9]:
df.shape

(525600, 19)

In [6]:
#columns in the dataset.
df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [7]:
#  data types of columns.
df.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [13]:
# A general description of the dataset.
df.describe

<bound method NDFrame.describe of                Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1       2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2       2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3       2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4       2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-08-08 23:56 -5.5 -0.1 -5.9   0.0   0.0  23.1  98.3  0.3     1.1
525596  2022-08-08 23:57 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.3  0.2     0.7
525597  2022-08-08 23:58 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.4  0.6     1.1
525598  2022-08-08 23:59 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.3  0.9     1.3
525599  2022-08-09 00:00 -5.5 -0.1 -5.7   0.0   0.0  23.1  98.3  1.2     1.6

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.1  122.1      0.0  998         0            0.0   26.3   26.2
1           0.0    0.0      0.0  998         0            0.0   26.3   26.2
2           0.5  124.6      1.5  997         0            0.0   26.4   26.2
3           0.4  120.3      1.3  997         0            0.0   26.4   26.3
4           0.3  113.2      1.0  997         0            0.0   26.4   26.3
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.5  119.3      4.1  996         0            0.0   23.5   22.9
525596      0.4  115.2      2.3  996         0            0.0   23.5   22.9
525597      0.5  129.8      3.4  996         0            0.0   23.5   22.9
525598      0.5  124.4      4.3  996         0            0.0   23.5   22.9
525599      0.3  124.1      5.9  996         0            0.0   23.5   22.9

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[525600 rows x 19 columns]>

In [12]:
# look for missing values.
df.isna().sum()
#no missing values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [20]:
# Columns to check for outliers
columns_to_check = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']

# Compute Z-scores
z_scores = df[columns_to_check].apply(zscore)

# Flag rows with any |Z| > 3 as outliers
outliers = (np.abs(z_scores) > 3)

# Print count of outliers per column
print("Outliers per column:")
print(outliers.sum())

# Remove rows with any outlier
df_clean = df[~outliers.any(axis=1)].copy()

Outliers per column:
GHI          0
DNI          0
DHI       1030
ModA         0
ModB         0
WS        1133
WSgust     828
dtype: int64

In [21]:
print("Original shape:", df.shape)
print("Cleaned shape:", df_clean.shape)
print("Number of rows removed:", df.shape[0] - df_clean.shape[0])

Original shape: (525600, 19)
Cleaned shape: (522786, 19)
Number of rows removed: 2814

In [22]:
z_clean = df_clean[columns_to_check].apply(zscore)
print("Remaining outliers in cleaned data:")
print((np.abs(z_clean) > 3).sum())

Remaining outliers in cleaned data:
GHI        10
DNI         1
DHI       617
ModA        2
ModB        5
WS        414
WSgust      0
dtype: int64

In [23]:
def remove_outliers_zscore(df, columns, threshold=3):
    z_scores = df[columns].apply(zscore)
    return df[~(np.abs(z_scores) > threshold).any(axis=1)]

# Repeat until no outliers remain
prev_shape = df_clean.shape[0]
while True:
    df_clean = remove_outliers_zscore(df_clean, columns_to_check)
    new_shape = df_clean.shape[0]
    if prev_shape == new_shape:
        break
    prev_shape = new_shape

# Final Z-score check
z_final = df_clean[columns_to_check].apply(zscore)
print("Remaining outliers after iterative cleaning:")
print((np.abs(z_final) > 3).sum())

Remaining outliers after iterative cleaning:
GHI       0
DNI       0
DHI       0
ModA      0
ModB      0
WS        0
WSgust    0
dtype: int64

In [27]:
# Save cleaned data
os.makedirs("data", exist_ok=True)
df_clean.to_csv("../data/benin-malanville_clean.csv", index=False)

print("✅ Cleaned dataset saved to: data/ethiopia_clean.csv")

✅ Cleaned dataset saved to: data/ethiopia_clean.csv