In [13]:
#Import relevant libraries
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
#from sklearn import metrics
# plt.style.use('ggplot')
# pd.set_option('display.max_columns', 200)
from scipy.stats import zscore

In [2]:
df = pd.read_csv("../data/sierraleone-bumbuna.csv")

df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [5]:
df.shape

(525600, 19)

In [6]:
#columns in the dataset.
df.columns

Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')

In [7]:
#  data types of columns.
df.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

In [8]:
# A general description of the dataset.
df.describe

<bound method NDFrame.describe of                Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb     RH   WS  WSgust  \
0       2021-10-30 00:01 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.1  0.0     0.0
1       2021-10-30 00:02 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.2  0.0     0.0
2       2021-10-30 00:03 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.2  0.0     0.0
3       2021-10-30 00:04 -0.7  0.0 -0.8   0.0   0.0  21.9   99.3  0.0     0.0
4       2021-10-30 00:05 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.3  0.0     0.0
...                  ...  ...  ...  ...   ...   ...   ...    ...  ...     ...
525595  2022-10-29 23:56 -1.6 -0.1 -2.9   0.0   0.0  24.0  100.0  0.0     0.0
525596  2022-10-29 23:57 -1.7 -0.1 -3.0   0.0   0.0  24.0  100.0  0.0     0.0
525597  2022-10-29 23:58 -1.7 -0.1 -3.1   0.0   0.0  24.0  100.0  0.0     0.0
525598  2022-10-29 23:59 -1.7 -0.2 -3.3   0.0   0.0  23.9  100.0  0.0     0.0
525599  2022-10-30 00:00 -1.7 -0.1 -3.4   0.0   0.0  23.9  100.0  0.0     0.0

        WSstdev   WD  WDstdev    BP  Cleaning  Precipitation  TModA  TModB  \
0           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
1           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
2           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
3           0.0  0.0      0.0  1002         0            0.1   22.3   22.6
4           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
...         ...  ...      ...   ...       ...            ...    ...    ...
525595      0.0  0.0      0.0   999         0            0.0   24.2   24.5
525596      0.0  0.0      0.0   999         0            0.0   24.2   24.5
525597      0.0  0.0      0.0  1000         0            0.0   24.1   24.4
525598      0.0  0.0      0.0  1000         0            0.0   24.1   24.4
525599      0.0  0.0      0.0  1000         0            0.0   24.1   24.4

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[525600 rows x 19 columns]>

In [9]:
# look for missing values.
df.isna().sum()
#no missing values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [14]:
# Columns to check for outliers
columns_to_check = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']

# Compute Z-scores
z_scores = df[columns_to_check].apply(zscore)

# Flag rows with any |Z| > 3 as outliers
outliers = (np.abs(z_scores) > 3)

# Print count of outliers per column
print("Outliers per column:")
print(outliers.sum())

# Remove rows with any outlier
df_clean = df[~outliers.any(axis=1)].copy()

Outliers per column:
GHI       2477
DNI       7586
DHI       2986
ModA      1604
ModB      2041
WS        3967
WSgust    3665
dtype: int64

In [15]:
print("Original shape:", df.shape)
print("Cleaned shape:", df_clean.shape)
print("Number of rows removed:", df.shape[0] - df_clean.shape[0])

Original shape: (525600, 19)
Cleaned shape: (509308, 19)
Number of rows removed: 16292

In [16]:
z_clean = df_clean[columns_to_check].apply(zscore)
print("Remaining outliers in cleaned data:")
print((np.abs(z_clean) > 3).sum())

Remaining outliers in cleaned data:
GHI       1674
DNI       7511
DHI       1248
ModA       694
ModB      1089
WS        1394
WSgust    1370
dtype: int64

In [17]:
def remove_outliers_zscore(df, columns, threshold=3):
    z_scores = df[columns].apply(zscore)
    return df[~(np.abs(z_scores) > threshold).any(axis=1)]

# Repeat until no outliers remain
prev_shape = df_clean.shape[0]
while True:
    df_clean = remove_outliers_zscore(df_clean, columns_to_check)
    new_shape = df_clean.shape[0]
    if prev_shape == new_shape:
        break
    prev_shape = new_shape

# Final Z-score check
z_final = df_clean[columns_to_check].apply(zscore)
print("Remaining outliers after iterative cleaning:")
print((np.abs(z_final) > 3).sum())

Remaining outliers after iterative cleaning:
GHI       0
DNI       0
DHI       0
ModA      0
ModB      0
WS        0
WSgust    0
dtype: int64

In [18]:
# Save cleaned data
os.makedirs("data", exist_ok=True)
df_clean.to_csv("../data/benin-malanville_clean.csv", index=False)

print("✅ Cleaned dataset saved to: data/ethiopia_clean.csv")

✅ Cleaned dataset saved to: data/ethiopia_clean.csv